// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts  {
width:200px;
height:400px;
margin: 5px;
float:left;
}

.archives
{width:100%;
margin:0px;
height:700px;
}


